{% trans_default_domain 'FOSUserBundle' %}


<style>

    .modal-content
    {

        display: block;
    }


</style>

<div class="modal-content"><div class="modal-header bootstrap-dialog-draggable"><div class="bootstrap-dialog-header"><div class="bootstrap-dialog-close-button" style="display: block;"></div><div class="bootstrap-dialog-title" id="36980f0b-fa3e-4cc5-bff1-67a5096d7d11_title">Inscription</div></div></div><div class="modal-body"><div class="bootstrap-dialog-body"><div class="bootstrap-dialog-message">

                <div class="row">


                    <div class="col-xs-12">


{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    {#{{ form_widget(form) }}#}


                        {{ form_row(form.email) }}
                        {{ form_row(form.username) }}
                        {{ form_row(form.plainPassword) }}


<div class="loader-area text-center" style="display:none">
    <div class="loader-elegant">
        <span></span><span></span><span></span><span></span><span></span>
    </div>
</div>


</div><!--/.col-sm-12-->


</div>


</div></div></div><div class="modal-footer" style="display: block;"><div class="bootstrap-dialog-footer"><div class="bootstrap-dialog-footer-buttons">{#<button class="btn btn-facebook btn-sm" id="btn-connect-facebook"><span class="hidden-xs">Connexion </span>Facebook</button>#}<button class="btn btn-default" id="dc55a6d1-ac67-48c2-b5c3-77abdb9fd927">Acceuil</button><button class="btn btn-info" type="submit" id="_submit" name="_submit" value="{{ 'registration.submit'|trans }}" >Créer Compte</button></div></div>{{ form_end(form) }}