{#{% extends '@adem/Default/dashboard.html.twig' %}

{% block title %}Liste {% endblock %}

{% block body %}
<h1>Formulaire</h1>
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.ajouter) }}


    <h1>Liste des personnes</h1>
{% for p in personnes %}


    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="http:\\localhost\image\{{ p.photo }}" alt="Card image cap"   height="100" width="100">
        <div class="card-body">
            <p class="card-text">
                {{ p.nom }} {{ p.prenom }}
                <a href="{{ path('_delete', { 'id': p.id }) }}" > Supprimer</a>
            </p>
        </div>
    </div>
    {{ form_row(form.Supprimer) }}
    {% endfor %}


{% endblock %}#}
{% extends '@adem/Default/dashboard.html.twig' %}



{% block title %}
    Liste de livres
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#livreTab').DataTable();
        });
    </script>






{% endblock %}

{% block body %}


    <div class="page-content-wrapper ">

        <div class="container sm-gutter">
            <br><br>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <h1><b>Listes des emprunts </b></h1>
                        </div>
                        <div class="col-md-6 text-right">
                            <br>
                            <a href="{{ path('chart') }}" class="btn btn-info">
                                <i class="fa fa-pie-chart" aria-hidden="true"></i>
                                Statistique sur mes Livres
                            </a>
                           {# <a href="{{ path('ajouterlivre') }}" class="btn btn-success">
                                <i class="icon-plus">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    &nbsp;Ajouter un livre
                                </i>
                            </a>#}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-borderless">

                        <div class="tab-content" >
                            <div class="tab-pane active" id="annonce" aria-expanded="true">
                                <table id="livreTab" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Titre livre</th>
                                        <th>Non User</th>
                                        <th>email User</th>
                                        <th>date d'emprunt</th>
                                        <th>date de retour</th>

                                        <th>Operations</th>

                                    </tr>
                                    </thead>
                                    <thead>
                                    <tbody>
                                    {% for p in EmpruntLivres %}
                                        <tr>
                                            <td>{{ p.titrelivre }}</td>
                                            <td>{{ p.nom }}</td>
                                            <td>{{ p.mail }}</td>
                                            <td>{{ p.dateEmprunt |date("m/d/Y")}}</td>
                                            <td>{{ p.dateRetour |date("m/d/Y")}} </td>


                                            <td>

                                                <div class="btn-group btn-group-sm btn-group-horizontal">
                                                    <a class="btn btn-secondary"
                                                       href="{{ path('retourner_livre', { 'id_emprunt': p.id }) }}"
                                                       data-toggle="tooltip" title="Retourner Livre">
                                                        <i class=""> Retourner</i>
                                                    </a>
                                                </div>
                                                <div class="btn-group btn-group-sm btn-group-horizontal">
                                                    <a class="btn btn-secondary"
                                                       href="{{ path('mail' , { 'mail': p.mail }) }}"
                                                       data-toggle="tooltip" title="send mail">
                                                        <i class=""> envoyer mail</i>
                                                    </a>
                                                </div>




                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


{% endblock %}

